<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <script>
        function txKlarokratieInjectTrackingCode() {
            let codeTemplate = document.querySelector('#tx-klarokratie-tracking-script');
            
            // only insert script once!
            if (codeTemplate.getAttribute('data-injected') != 1) {
                codeTemplate.setAttribute('data-injected', 1);
                let clone = codeTemplate.content.cloneNode(true);
                document.head.appendChild(clone);
            }
        }
    </script>

    <f:if condition="!{blockInjection}">
        <script>
            txKlarokratieInjectTrackingCode();
        </script>
    </f:if>
</html>