<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:comment><!-- see: https://developers.google.com/tag-platform/security/guides/consent?consentmode=advanced&hl=de#gtag.js_1 --></f:comment>
    
    <f:comment><!-- for old implementations. Beyond that it's useless--></f:comment>
    <div id="tx-klarokratie-tracking-script" data-injected="1" ></div>
        
    <!-- Google Analytics start -->
    <f:if condition="{settings.googleAnalytics.useTagManager}">
        <f:then>
            <script type="text/plain" data-type="application/javascript" data-name="google-analytics">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{settings.googleAnalytics.tagId}');</script>
        </f:then>
        <f:else>
            <script type="text/plain" data-type="application/javascript" data-name="google-analytics" async src="https://www.googletagmanager.com/gtag/js?id={settings.googleAnalytics.tagId}"></script>
        </f:else>
    </f:if>
    
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
    
      gtag('js', new Date());
      gtag('config', '{settings.googleAnalytics.tagId}');
    </script>
    <!-- Google Analytics end -->
</html>
