<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:comment><!-- see: https://developers.google.com/tag-platform/security/guides/consent?consentmode=advanced&hl=de#gtag.js_1 --></f:comment>
    
    <f:comment><!-- for old implementations. Beyond that it's useless--></f:comment>
    <div id="tx-klarokratie-tracking-script" data-injected="1" ></div>

    <!-- Google Analytics start -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('set', 'ads_data_redaction', true);
        gtag('consent', 'default', {
            'analytics_storage': 'denied',
            'ad_storage': 'denied',
            'ad_user_data': 'denied',
            'ad_personalization': 'denied',
            'functionality_storage': 'denied',
            'personalization_storage': 'denied',
            'security_storage' : 'denied',
            'wait_for_update': 500,
        })        
    </script>
    
    <f:if condition="{settings.googleAnalytics.useTagManager}">
        <f:then>
            <f:comment><!-- We keep the data-name/data-type for backwards-compatibility --></f:comment>
            <script type="text/plain" 
                    data-klarokratie-type="application/javascript" 
                    data-klarokratie-name="google-tagmanager"
                    data-name="google-analytics"
                    data-type="application/javascript"
            >(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
              })(window,document,'script','dataLayer','{settings.googleAnalytics.tagId}'); 
              // console.log('Google Tag Manager allowed! Thank you!');
            </script>
        </f:then>
        <f:else>
            <script type="text/plain" 
                    data-type="application/javascript" 
                    data-name="google-analytics" 
                    async 
                    src="https://www.googletagmanager.com/gtag/js?id={settings.googleAnalytics.tagId}"></script>
        </f:else>
    </f:if>
    <!-- Google Analytics end -->

    
    <f:comment><!-- 
        This script is needed because Google Tag Manager can be a requirement for both Google Analytics and Google Ads
        and both may be granted seperately. Google Tag Manager on the other hand can not be defined as requrired, because
        in this case it would be loaded independently of a given consent - which is not GDPR compliant
      --></f:comment>
    <script>
        function klarokratieInjectGoogleTagManager() {
            const tags = document.querySelectorAll("[data-klarokratie-name='google-tagmanager']");
            tags.forEach((element) => {
                if (
                    (element.tagName === 'SCRIPT') &&
                    (element.hasAttribute('data-klarokratie-type')) &&
                    (element.getAttribute('data-klarokratie-type') !== element.type)
                ){
                    const parent = element.parentElement;
                    
                    // we create a new script instead of updating the node in
                    // place, as the script won't start correctly otherwise
                    const newElement = document.createElement(element.tagName);
                    for(const attribute of element.attributes){
                        newElement.setAttribute(attribute.name, attribute.value);
                    }

                    if (element.hasAttribute('nonce')) {
                        newElement.setAttribute('nonce', element.nonce);
                    }
                    
                    newElement.innerText = element.innerText;
                    newElement.text = element.text;
                    newElement.setAttribute('type', element.getAttribute('data-klarokratie-type'));
                    
                    // remove relevant attributes to prevent double-inclusion
                    newElement.removeAttribute('data-name');
                    newElement.removeAttribute('data-type');
                    newElement.removeAttribute('data-klarokratie-name');
                    newElement.removeAttribute('data-klarokratie-type');
                                        
                    // we remove the original element and insert a new one
                    parent.insertBefore(newElement, element);
                    parent.removeChild(element);
                }
            });
        }
    </script>

</html>
